<p>Hey <%= name; %>,</p>
<p>
    Thanks for signing up for Nepvent Client Management. We're very excited to have you on board.
</p>

<p>To get started using Nepvent Client Management, please Login your account as per following Details:</p>
<p>
<p>
    Username/ E-mail:
    <% username %>
</p>
<p>Password:
    <% password %>
</p>
</p>
<p>Please Log in and Check Your Details and other.</p>

